@import "tailwindcss";
@import "rpg-awesome/css/rpg-awesome.css";

:root {

  --background-colour: #242424;
  --text-colour: #fbfbfb;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--joy-palette-background-body);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.background-contrast {
  background-color: var(--joy-palette-background-level1)
}